.nav{
    width: 80% !important;
    margin: auto ;
    padding: 20px 0 30px!important;
 
    
}
.navbar2{
    padding: 5px 15px;
    border-radius: 15px;
}
.logOut{
    padding: 6px  !important;
    border-radius: 2px 12px 12px 2px  !important;
}
